@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&display=swap");

:root {
  /* Neutral */
  --light-grayish-cyan-background: hsl(180, 52%, 96%);
  --light-grayish-cyan-filter: hsl(180, 31%, 95%);
  --dark-grayish-cyan: hsl(180, 8%, 52%);
  --very-dark-grayish-cyan: hsl(180, 14%, 20%);
  --green: hsl(180, 29%, 50%, 1);
  --green-opacity: hsla(180, 29%, 50%, 0.1);
  --white: hsl(0, 0%, 100%, 1);

  /* weights */
  --normal: 500;
  --bold: 700;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 0.938rem;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "League Spartan", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--light-grayish-cyan-background);
}

header {
  background: var(--green);
  overflow: hidden;
}

header img {
  background-position: center;
  width: 100%;
  height: 11.11em;
  object-fit: cover;
  transform: scale(1.1);
}

.filter-list {
  min-width: 1110px;
  padding: 6rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  transform: translateY(-125px);
}

.filter-list .job-card:first-of-type {
  height: 70px;
}

.job-card {
  height: 152px;
  border-radius: 5px;
  background-color: var(--white);
  box-shadow: 0px 15px 20px -5px rgba(13, 113, 130, 0.15);
  padding: 1rem 3rem;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.filter-list .job-card:nth-child(2) {
  border-left: 4px solid var(--green);
}

.filter-list .job-card:nth-child(3) {
  border-left: 4px solid var(--green);
}

.job-info-secondary {
  display: flex;
  gap: 2rem;
}

.job-info-secondary p {
  color: var(--dark-grayish-cyan);
}

.job-info-secondary p:not(:first-of-type) {
  display: list-item;
  list-style-position: inside;
}

.job-card img {
  align-self: center;
}

.job-info {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.job-info h3 {
  margin: 0rem;
  font-size: 1.5rem;
  color: var(--very-dark-grayish-cyan);
}

.job-info-chips {
  display: flex;
  gap: 1rem;
  text-transform: uppercase;
  color: white;
  font-size: 0.938rem;
}

.job-info-chips span {
  border-radius: 14px;
  padding: 0.5rem 1rem 0.4rem 1rem;
  align-self: center;
}

.job-info-top {
  display: flex;
  gap: 1rem;
}

.job-info-top p {
  font-size: 1.2rem;
  color: var(--green);
  font-weight: var(--bold);
}

.new {
  background-color: var(--green);
}

.featured {
  background-color: #2b3939;
}

.job-categories {
  flex: 1 1 50%;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: flex-end;
}

.job-category-filter {
  border-radius: 4px;
  background-color: var(--green-opacity);
  padding: 0rem 0rem 0rem 0.6rem;
  color: var(--green);
  cursor: pointer;
  display: flex;
  align-items: center;
  align-self: center;
  gap: 0.5rem;
}

.job-category {
  border-radius: 4px;
  background-color: var(--green-opacity);
  padding: 0.6rem 0.9rem;
  color: var(--green);
  cursor: pointer;
  align-self: center;
  display: flex;
  align-items: center;
  gap: 1em;
  font-weight: var(--bold);
}

.clear {
  align-self: center;
  margin-left: auto;
  cursor: pointer;
}

button {
  background-color: var(--green);
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  display: flex;
}

hr {
  display: none;
}

/* Tablet */

@media only screen and (max-width: 1110px) {
  .job-card {
    height: auto;
    position: relative;
  }

  .filter-list {
    width: 100%;
    min-width: auto;
  }

  .job-categories {
    flex-wrap: wrap;
  }
}

/* Mobile */

@media only screen and (max-width: 750px) {
  .filter-list {
    width: 100%;
    min-width: auto;
    gap: 3rem;
  }

  .job-card {
    flex-direction: column;
    height: auto;
    padding: 2rem 2rem 1rem 2rem;
    gap: 0;
  }

  .job-card img {
    position: absolute;
    width: 66px;
    top: -35px;
    left: 30px;
  }

  .job-categories {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    flex-direction: row-reverse;
  }

  .job-info h3 {
    font-size: 1rem;
    margin-top: 0.8rem;
  }

  .job-info-top p {
    font-size: 0.9rem;
    color: var(--green);
    font-weight: var(--bold);
  }

  .job-info-secondary {
    gap: 1rem;
    height: 35px;
  }

  hr {
    display: block;
    border: 1px solid var(--light-grayish-cyan-filter);
    width: 100%;
    margin-bottom: 1rem;
  }
}
